.profile{
    width: 600px;
    margin: auto;
    position: relative;
}
.cover{
    width: 100%;
    height: 160px;
    object-fit: cover;
}
.user{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    position:absolute;
    bottom: -60px;
    left:50px;
    border: 5px solid white;
}
.text{
    text-align: center;
    
}
p{
    color: gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}