.bg{
    width: 700px;
    margin: 30px;
    position: relative;
}
.bg-img{
    width:100% ;
}
.content{
    position: absolute;
    bottom: 50px;
    color: azure;
    text-align: center;
}
.btn{
    color: black;
    background-color: white;
    border-radius: 40px;
    border-right: 40px;
    bottom:50px ;
    padding:10px;

    
}